@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    background: #B0BEC5;
}

.mainCard{
    max-width: 360px;
    background-color: #273746;
    padding: 26px;
    border-radius: 4px;
    margin: 8% auto 0;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
}

.mainCard h3{
    color: #52BE80;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3px;
    text-align: center;
}

.mainCard h3 span{
    color: #52BE80;
}

.mainCard p{
    font-weight: 600;
    color: #52BE80;
    font-size: 20px;
}

.mainCard hr{
    margin-top: 4px;
    border-color: #228AF5;
}

.mainCard input[type="range"]{
    width: 100%;
    accent-color: #52BE80;
}

.mainCard input[type="checkbox"]{
    accent-color: #52BE80;
}

.mainCard i {
    color: black;
}

.inputPassword .password{
    /* border: solid 2px #228AF5; */
    padding: 13px 10px;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 9px;
    margin-top: 25px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.inputPassword .password a img{
    width: 22px;
}

.selectOption {
    margin-bottom: 5px;
}

.selectOption label{
    font-size: 17px;
    color: #FFFF;
}

.mainCard .generate{
    border: solid 2px aliceblue;
    padding: 10px 23px;
    color: #FFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 14px;
    border-radius: 3px;
    background-color: #52BE80;
    margin-top: 14px;
    text-transform: uppercase;
    width: 100%;
}

.mainCard .generate:hover {
    background-color: #FFFF;
    color: #52BE80;
    border: solid 2px #52BE80;
}

#message {
    display: none;
}